<div>
    <h1  class="h1-bienvenido" id="title-welcome">Bienvenido al chat</h1>
</div>
<div>
    <label for="type">Comienza a hablar!</label>
    <input id="send" class="input2" type="text" placeholder="Escribe aqui">
</div>
<div id="contenedor-chat">

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>

